.mainContainer {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: row;
}

.containerr {
    height: 350px;
    border: 1px solid #192A6D;
    border-radius: 15px;
    width: 45%;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 7px;
}

.containerrr {
    height: 350px;
    border-radius: 15px;
    width: 45%;
    padding: 0px 25px;
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #192A6D;
}

input[type="text"] {
    border: none;
    padding: 10px;
    outline: none;
    background: none;
}

input[type="password"] {
    border: none;
    padding: 10px;
    outline: none;
    background: none;
}
